*
!.gitignore
!homeworks/
!homeworks/HW_01/
!homeworks/HW_01/HW1_api_Tereshchenkova_Liliia.ipynb
!homeworks/HW_02/
!homeworks/HW_02/HW2_microservices_Teeshchenkova_Liliia.ipynb
!homeworks/HW_03/
!homeworks/HW_03/HW3_iac_Tereshchenkova_Liliia.ipynb
